<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>

        {% block head %}
            <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
            <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
        {% endblock head %}

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block links %}
            <link rel="import" href="/bower_components/polymer/polymer.html"/>
            <link rel="import" href="/bower_components/font-roboto/roboto.html">
        {% endblock links %}

        {% block stylesheets %}
            <style>
                html, body {
                    font-family: 'RobotoDraft', sans-serif;
                    font-size: 14px;
                }
            </style>
        {% endblock %}

    </head>
    {% flush %}
    {# todo: use [unresolved] if the browser is not chrome >= 36 #}
    <body fullbleed layout vertical>
        <template is="auto-binding" id="main-template">
            {% block body %}{% endblock %}
        </template>
        {% block javascripts %}{% endblock %}
    </body>
</html>