<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>

        {% block head %}
            <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
            {% javascripts 'bower_components/webcomponentsjs/webcomponents.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock head %}

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/css/*.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block links %}
            <link rel="import" href="/bower_components/font-roboto/roboto.html">
        {% endblock links %}

    </head>
    <body fullbleed layout vertical unresolved>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>